name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-package:
    name: Build Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.4
        with:
          node-version-file: .nvmrc

      - name: Setup Yarn
        uses: threeal/setup-yarn-action@v2.0.0

      - name: Create Package
        run: yarn pack

      - name: Upload Package as Artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          path: package.tgz
